$primaryColor: #db0068;
$primaryDarkColor: #a3003e;
$primaryDarkTranslucentColor: #ff5596;
$accentColor: #a7c0cd;
$navigationTextColor: White;
$labelSectionTextColor: #6D6D72;
$detailTextColor: #979797;
