$primaryColor: #78909c;
$primaryDarkColor: #4b636e;
// NOTE: 8 digit Hex colors will throw an error #9926213C
$primaryDarkTranslucentColor: rgba(153,38,33,0.24);
$accentColor: #a7c0cd;
$navigationTextColor: White;
$labelSectionTextColor: #6D6D72;
$detailTextColor: #979797;
