@import "colors";

button:all {
    background-color: $primaryColor;
    border-color: $primaryDarkColor;
    border-radius: 15;
    color: $navigationTextColor;
    width: 300;
    min-width: 300;
}
